h2 Каталог
p
= link_to 'Создать папку', new_catalog_path, action: :new
= link_to 'Создать товар', new_product_path, action: :new
p
- @array = []
- @catalogs.order(:depth, :lft).each do |element|
  - element.children.except(:order).order(:name) if !element.leaf?
  = render "nested_fields", catalogs: [element]
