.body{
  font-family: "Roboto";
}

.folder-link{
  background-color: #eeee98;
  padding: 6px;
  border-radius: 5px;
  display: inline-flex;
  margin: 2px;
  color: #3c1a1a;
}

.product-link{
  // padding: 6px;
  // margin: 3px;
  // background-color: #f1f2f2;
  // display: inline-flex;
  // border-radius: 5px;
  // border: 1px dashed;
  font-size: 0.95em;
  font-weight: bold;
  color: #994b4f;  
}
.product-link:hover { text-decoration: none; color: #ff0000 }

.catalog-button-link{
  color: white;
  padding: 8px;
  background-color: black;
  margin: 3px;
  border-radius: 5px;
}
.delete-link{
  background-color: #eeedec;
  padding: 6px;
  border-radius: 5px;
  display: inline-flex;
  margin: 2px;
  color: #717171;
  font-size: 0.75em;
}

.catalog-button-link:hover { text-decoration: none; color: #dcff17 }

.catalog-folder{
  border-left: 1px dashed #a6a6a6;
  margin-left: 15px;
}

.catalog-product{
  border-left: 1px dashed #a6a6a6;
  margin-left: 15px;
  color: gray;
}

.catalog-product-root{
  margin-left: 20px;
  color: gray;
}

.catalog-buttons-form{
  display: inline-flex;
}

.actions{
  display: inline-flex;
}

.warning{
  color:red;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

// a:hover { text-decoration: none; color: #ff0000 }

a:active { text-decoration: none;  }